@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tinos&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fdbdb1;
  --secondary-color: #ffe3de;
  --background-color: #f4f4f4;
  --text-color: #333;

  --font-ban: "Roboto", sans-serif;
  --font-main: "Tinos", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
}

p,
button,
input,
span {
  font-family: var(--font-ban);
}
