.admin {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 16.5%;
}

h1 {
  color: #000000;
  font-size: 28px;
  margin-bottom: 20px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #eeeeee;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

thead th {
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #eeeeee;
}

tbody td {
  padding: 15px;
  border-bottom: 2px solid #f5f5f5;
  font-size: 14px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee; /* Alternance de couleur pour les lignes */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 8px 12px;
  margin: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #ffe3de;
  color: #000000;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #fdbdb1; /* Une nuance plus sombre pour le hover */
}

p {
  font-size: 16px;
  color: #000000;
}

tfoot {
  background-color: #ffebeb;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #000000;
  text-align: center;
}

.title thead th {
  font-size: 18px;
}

.content tbody td {
  font-size: 14px;
}
