header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdbdb1; /* Couleur de fond rose clair */
  padding: 10px 20px; /* Marges intérieures pour espacer les éléments */
  border-bottom: 2px solid #e9a79f; /* Ligne pour délimiter l'en-tête */
}

header a img {
  cursor: pointer;
}

.fb {
  position: relative;
  width: 25px;
  top: -90px;
  right: 0;
}

.insta {
  position: relative;
  width: 25px;
  top: -90px;
  right: 20em;
}

.stasbouq {
  height: 220px;
  margin: 0 auto;
}

.coeur {
  position: relative;
  width: 30px;
  top: -90px;
  left: 20em;
}

.pan {
  position: relative;
  width: 40px;
  top: -90px;
  right: 0;
}
