header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdbdb1;
  position: relative;
}

header a {
  display: inline-block;
}

header a img {
  width: 30px;
  margin: 0px;
}

.stasbouq {
  width: 180px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.fb,
.insta {
  position: absolute;
  top: 20px;
  left: 20px;
}

.insta {
  left: 60px;
}

.coeur,
.pan {
  position: absolute;
  top: 20px;
  right: 60px;
}

.pan {
  width: 40px;
  right: 15px;
  top: 15px;
}
